/*body {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #DDDDDD;
}*/
div.blockText {
  margin-left: auto;
  margin-right: auto;
  width: 15em
}

div.dynamicSliderRegion {
	padding: 10px !important; 
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	/*height: 1000px; */
}

div.planItem{
	margin-top: 10px;
	margin-bottom: 10px;
	height: 25px;
	/*margin: 50px;
	padding: 10px;*/
}

div.minusEdit{
	float:left;
	/*width: 30px;*/
}
div.plusEdit{
	/*width: 30px;*/
	float: right;
}
div.slider{
	width:500px;
	float:left;
}
.wide {width:100%;}
